a {
  cursor: pointer;
}

mat-tree-node:hover {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  background: #dbdbdb;
}

mat-tree-node:active {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  background: #cccccc;
}

.active-category {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  background: #d2d2d2;
}
