<div class="card" *ngIf="product">
  <div class="card-body">
    <div class="d-flex justify-content-between align-content-center">
      <h5 class="card-title" [title]="product.name" (click)="onClickDetail(product.id)">{{ product.name }}</h5>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x"
           viewBox="0 0 16 16" (click)="onClickDelete(product.id)">
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
    <img class="card-img-top" [src]="product.image" alt="Card image cap">
    <div class="product-price">
      <p class="card-text">{{ product.price  | currency : 'USD' }}</p>
    </div>
  </div>
</div>
