.card {
  max-width: 18rem;
  margin: 1rem;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.product-price {
  margin-top: 0.5rem;
}

.product-price p {
  text-align: right;
}
