<div class="d-flex gap-2">
  <div>
    <h5 class="card-title"> Products list</h5>
    <app-category-list
      [categories]="categories"
      [currentCategoryId]="currentCategoryId">
    </app-category-list>
  </div>
  <div class="flex-grow-1">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{ (activeCategory | async) ?? 'All Products' }}</h5>
      <div class="d-flex gap-2">
        <input class="form-control" placeholder="Search products..." [(ngModel)]="filterValue">
        <select class="form-select" (change)="onSortingOptionChange(sort.value)" #sort>
          <option selected>Sorting options</option>
          <option [value]="sortingOptions.NAME">Name</option>
          <option [value]="sortingOptions.PRICE">Price</option>
        </select>
      </div>
    </div>
    <app-products-list
      [categoryId]="currentCategoryId"
      [sortingOption]="sortingOption"
      [filterValue]="filterValue">
    </app-products-list>
  </div>
</div>
